body, form {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    background-color: #d1d1d1;
    font-size: 30px;
}

body form {
    width: 200px;
    margin: 15% auto;
    padding: 5px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 9px;
    background-color: #949494;
    text-align: center;
}

body form input {
    margin: 5px auto;
    border: 0;
    border-radius: 7px;
    height: 25px;
    display: block;
}