body, form, h1, footer {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    background-color: #d1d1d1;
    font-size: 18px;
}


html body header nav {
    background-color: #ebebeb;
    height: 45px;
}

html body header nav hr {
    margin: 14px 0 0 0;
}

html body header nav ul {
    margin: 10px auto;
    width: 402px;
}

html body header nav ul li {
    float: left;
    list-style: none;
    margin: 5px auto auto 48px;
}

html body header nav ul li a {
    text-decoration: none;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #656565;
    border-bottom: 2px solid #656565;
    padding: 3px 5px 3px 5px;
    background-color: #cbcbcb;
    color: #fff;
}

html body header nav ul li a:hover {
    border-top: 2px solid #656565;
    border-left: 2px solid #656565;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

html body nav {
    background-color: #ebebeb;
    height: 45px;
}

html body nav ul {
    margin: 10px auto;
    width: 452px;
}

html body nav ul li {
    float: left;
    list-style: none;
    margin: 5px auto auto 2px;
}

html body p {
    text-align: center;
}

html body table {
    margin: 0 auto 20px auto;
}

body form {
    width: 350px;
    margin: 10% auto;
    padding: 5px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 9px;
    background-color: #949494;
    text-align: center;
}

body h3 {
    text-align: center;
}

body table tr td span#Activated {
    color: #ccff00;
    font-size: 18px;
}

body table tr td span#Deactivated {
    color: #ff0000;
    font-size: 18px;
}

body form h1 {
    color: #fff;
}

body form input {
    margin: 5px auto;
    border: 0;
    border-radius: 7px;
    height: 25px;
    display: block;
}

body form#no-style {
    margin: 45px auto;
    border: none;
    background-color: transparent;
}

body form#no-style input {
    display: none;
}

body form#no-style input.visible {
    display: block;
}

body article {
    margin: 0 auto;
}

body article footer {
    height: auto;
    width: auto;
    margin: 0;
    position: absolute;
    background-color: transparent;
    font-style: italic;
}

body footer {
    height: 50px;
    width: 100%;
    margin-top: 50px;
    position: absolute;
    background-color: #949494;
}